body {
  font-family: 'Fira Code', 'Input Mono', 'Hack', 'Iosevka', 'Inconsolata', 'Monoid', 'Consolas', 'Monaco', 'Roboto Mono', 'Menlo', monospace;
  color: white;
  background: black;
  width: 50%;
  max-width: 900px;
  min-width: 300px;
  margin: auto;
  border: none;
  padding: 10px;
}
.hightlight1 {
  color: white;
  background: red;
}
.hightlight2 {
  color: white;
  background: green;
}
.hightlight3 {
  color: white;
  background: blue;
}
a:link {
  color: black;
  background: cyan;
}
a:hover {
  color: black;
  background: magenta;
}
a:visited {
  color: black;
  background: yellow;
}
