body {
  font-family: monospace, monospace;
  color: #fff;
  background-color: #000;
  max-width: 800px;
  min-width: 200px;
  margin: auto;
  border: none;
  padding: 16px;
}

a:link {
  color: #0ff;
}

a:hover, a:active {
  color: #ff0;
}

a:visited {
  color: #f0f;
}